<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>majiang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,3620},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,3288},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3288},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,3258},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,3258},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2926},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2926},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2896},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2896},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2564},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2564},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2534},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{358,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,472}}</string>
                <key>sourceSize</key>
                <string>{358,472}</string>
            </dict>
            <key>majiang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2534},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2202},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2202},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2172},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2172},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1840},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1810},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1810},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1478},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1448},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1448},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1116},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1086},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1086},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,754},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,724},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,724},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,392},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,362},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,362},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,30},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{360,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,474}}</string>
                <key>sourceSize</key>
                <string>{360,474}</string>
            </dict>
            <key>majiang_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3650},{360,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,473}}</string>
                <key>sourceSize</key>
                <string>{360,473}</string>
            </dict>
            <key>majiang_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,3620},{360,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,473}}</string>
                <key>sourceSize</key>
                <string>{360,473}</string>
            </dict>
            <key>time_bars-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,26}}</string>
                <key>sourceSize</key>
                <string>{568,26}</string>
            </dict>
            <key>time_slot-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{568,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,26}}</string>
                <key>sourceSize</key>
                <string>{568,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang.png</string>
            <key>size</key>
            <string>{1906,4012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ac10e60b30a66e4e911b15634220016$</string>
            <key>textureFileName</key>
            <string>majiang.png</string>
        </dict>
    </dict>
</plist>
